@import './vars';
%text {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

%text-hover {
    color: #000;
    transform:  scale(1.1);
    cursor: pointer;
    transition: transform 1s 
}
%text-navbar {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}
%btn {
    border: none;
    background-color: var(--color-main);
}