@import './text';
@import './vars';
.form-sign-up {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    p {
        @extend %text-navbar;
    }
    label {
        @extend %text-navbar;
    }
    input {
        width: 350px;
        height: 50px;
        @extend %btn;
        padding-left: 10px;
        border-bottom: 1px solid black;
        outline: none;
        @extend %text-navbar;
        &:hover {
            @extend %text-hover;
            border-bottom:  2px solid #000;
          }
    }
    button {
        @extend %text-navbar;
        @extend %btn;
        cursor: pointer;
        &:hover {
            @extend %text-hover;
        }
    }
    
}
.under-form {
    display: grid;
    width: 100%;
    justify-content: center;
    @extend %text-navbar;
    gap: 50px;
    button {
        @extend %text-navbar;
        @extend %btn;
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid black;
        &:hover {
            @extend %text-hover;
            border-bottom: 2px solid black;
        }
    }
        
}