@import './text';
@import './vars';
.form-sign-up {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    p {
        @extend %text-navbar;
    }
    label {
        @extend %text-navbar;
    }
    input {
        width: 350px;
        height: 50px;
        background-color: var(--color-main);
        border: none;
        padding-left: 10px;
        border-bottom: 1px solid black;
        outline: none;
        @extend %text-navbar;
        &:hover {
            @extend %text-hover;
          }
    }
    button {
        @extend %text-navbar;
        text-decoration: none;
        background-color: var(--color-main);
        border: none;
        cursor: pointer;
        &:hover {
            @extend %text-hover;
        }
    }
    
}
.under-form {
    display: grid;
    justify-content: center;
    @extend %text-navbar;
    button {
        @extend %text-navbar;
        text-decoration: none;
        background-color: var(--color-main);
        border: none;
        cursor: pointer;
        &:hover {
            @extend %text-hover;
        }
    }
        
}