.form-sign-up {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
    p {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
    }
    label {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
    }
    input {
        width: 350px;
        height: 50px;
        background-color: white;
        border: none;
        padding-left: 10px;
        border-bottom: 1px solid black;
        outline: none;
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: #000;
            transform:  scale(1.1);
          }
    }
    button {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
        background-color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        &:hover {
          color: #000;
          transform:  scale(1.1);
        }
    }
}