@import './vars';
@import './text';
.btn-like {
    transform: scale(0.1);
    background-color: var(--color-main);
    border: none;
    img {
        &:hover {
            transform: scale(1.2);
        }
    }
}
.btn {
    @extend %btn;
    @extend %text;
    &:hover {
        @extend %text-hover;
    }
    margin-bottom: 100px;
}