@import './text';
.cart {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    @extend %text;
    .cart-title {
        display: flex;
        gap: 100px;
        img {
            width: 400px;
            height: 400px;
        }
        .element-info {
           ul {
            margin-top: -300px;
            margin-left: -40px;
            li {
                padding: 10px;
                list-style: none;
                &:hover {
                    @extend %text-hover;
                }
            }
           }
        }
    }

}