@import './text';
.drink-card {
    position: relative;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-bottom: 1px solid black;;
    img {
        width: 300px;
        height: 300px;
        
    }
    .cart-info {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        @extend %text;
        p {
            &:hover {
                @extend %text-hover;
            }
        }
    }
}

