@import './text';
@import './vars';
.form-search {
    form {
        display: flex;
        gap: 20px;
    }
    input {
        width: 250px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        background-color: var(--color-main);
        @extend %text;
        &:hover {
            @extend %text-hover;
          }
    }
    button {
        border: none;
        background-color:var(--color-main);
        font-size: 16px;
        width: 70px;
        @extend %text-navbar;
        &:hover {
            @extend %text-hover;
        }
    }
      

}