@import './vars.scss';
.drinks-card {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px; 
    .link {
        color: var(--color-main);
    }
    
}

