@import './text';
.container-navbar {
	width: 80%;
	margin: 0 auto;
  display:  flex;
  justify-content: space-between;
  margin-top: 23px;
}

.header-navbar {
  width: 100%;
  padding-bottom: 23px;
  border-bottom:  1px solid black;
}

.header-navbar::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  position: relative;
}

nav a {
  display: block;
  @extend %text-navbar;
  &:hover {
    @extend %text-hover;
  }
}


@media (max-width: 600px) {
  .container-navbar {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}