@import './vars';
.search-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px;
    button {
        height: 20px;
        width: 250px;
        border-radius: 15px;
        border: 2px solid var(--color-main);
        background-color: white;
        cursor: pointer;
    }
    button:active {
        background-color: var(--color-main);
        color: whitesmoke;
    }


}

.active {
    color: var(--color-main);
}